@model EBookStore.Models.Author
@{
    ViewBag.Title = "Delete Author";
}

<h2>Delete Author</h2>

<p>Are you sure you want to delete this author?</p>

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
</div>

@using (Html.BeginForm("Delete", "Author", FormMethod.Post, new { id = Model.AuthorId }))
{
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index", "Author")" class="btn btn-default">Cancel</a>
}
