@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <label>Email</label>
        <input type="text" name="email" />
        @Html.ValidationMessage("email")
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" />
        @Html.ValidationMessage("password")
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
}